In [4]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/chathura/.local/lib/python3.10/site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/chathura/.local/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: tzdata>=2022.7 in /home/chathura/.local/lib/python3.10/site-packages (from pandas) (2023.4)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/chathura/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
# Load the CSV file
file_path = 'cv_data_with_scores.csv'  # Update this path
cv_data = pd.read_csv(file_path)
cv_data['Text'] = cv_data['Text'].astype(str)
cv_texts = cv_data['Text'].tolist()

In [3]:
job_description = """
We are looking for a Java Developer with experience in building high-performing, scalable, enterprise-grade applications.
You will be part of a talented software team that works on mission-critical applications. Java developer roles and responsibilities include managing Java/Java EE application development while providing expertise in the full software development lifecycle, from concept and design to testing.
Java developer responsibilities include designing, developing and delivering high-volume, low-latency applications for mission-critical systems.
"""

In [6]:
documents = cv_texts + [job_description]
tfidf_vectorizer = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf_vectorizer.fit_transform(documents)
cosine_similarities = cosine_similarity(tfidf_matrix[-1:], tfidf_matrix[:-1])
scores = (cosine_similarities.flatten() * 100).tolist()
cv_data['Score'] = scores

In [7]:
cv_data

,Filename,Text,Score,id
0,ba_cv_3.pdf,IT Skills: Area Exposure Modeling Tool: Bizagi...,7.467945,1
1,java_cv_2.pdf,Education Details \nJanuary 2013 Master of En...,24.551578,2